#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  padding-bottom: 3vh;
  text-align: center;
}

main {
  height: max(70vh, auto);
  padding-bottom: 5vh;
}

footer {
  padding: 3vh;
  text-align: center;
}

li {
  list-style: none;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  gap: 6px;
  justify-content: left;
  align-items: start;
  padding: 0 2vh;
  margin: 2vh;
  h3 {
    white-space: nowrap;
  }
  p {
    font-size: 20px;
  }
}

ul {
  padding: 2vh 6vh;
}